body {
    background-color: #fdfdfb;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    position: center;
    align-items: center;
  }
  
  .content {
    position: relative;
    width: 500px;
    height: 400px; 
    overflow: hidden;
  }
  
  .track {
    position: absolute;
    margin-left: 200px;
    width:200px;
    height:5px;
    background-color: rgb(113, 43, 122);
    top:300px;
  }
  

  
  .train {
    position: absolute;
    width: 50px;
    height: 30px;
    border:5px solid #333;
    background-color: #9e2a2b;
    border-radius:0 10px 0 0;
    top:230px;
    left:285px;
    animation: scale 1s linear infinite;
  }
  
  @keyframes scale {
    0% {transform: scaleY(1);}
    50% {transform: scaleY(0.99);}
    100% {transform: scaleY(1);}
  }
  
  .train:before {
    content:"";
    position: absolute;
    border:5px solid #333;
    background-color: #335c67;
    width:35px;
    height:60px;
    left:-45px;
    top:-35px;
  }
  
  .train:after {
    position: absolute;
    content:"";
    width: 100px;
    height:5px;
    border-radius:10px;
    border: 5px solid #333;
    background-color: #fff3b0;
    top:30px;
    left:-50px;
  }
  
  .front {
    position: absolute;
    border: 5px solid #333;
    background-color: #aed9e0;
    box-shadow: inset 2px -5px rgba(255,255,255,0.3);
    width:20px;
    height:30px;
    left:-37.5px;
    top:-20px;
  }
  
  .front:before {
    content:"";
    position: absolute;
    background-color: #333;
    width:15px;
    height:5px;
    border-radius:10px;
    top: 25px;
    left:70px;
    box-shadow: 0px 10px #333, -50px -45px #333, -86px -45px #333, -22px -41px #333,-11px -41px #333;
  }
  
  .front:after {
    content:"";
    position: absolute;
    width:12px;
    height:20px;
    border: 5px solid #333;
    left:50px;
    top:-16px;
    background-color:#adb5bd;
  }
  
  .wheels {
    position: absolute;
    z-index:1;
  }
  
  .smallOne, .smallTwo{
    position: absolute;
    border: 5px solid #333;
    border-radius:50%;
    width: 15px;
    height:15px;
    top:40px;
    background-color: #e09f3e;
    box-shadow: inset 2px 2px white;
    z-index:2;
  }
  
  .smallOne {
    left: 30px;
  }
  
  .smallTwo {
    left:0;
  }
  
  
  .big {
    position: absolute;
    border: 5px solid #333;
    border-radius:50%;
    width:25px;
    height:25px;
    background-color: #e09f3e;
    box-shadow: inset 2px 2px white;
    top:30px;
    left:-40px;
  }


  

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  #up {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    top: -30px;
    left: 25.5px;
    z-index:-1;
  }
  
  
  .steam2 {
      content: '';
  }
  
  .steam2:before {
    content:"";
    position: absolute;
    left:5px;
    right: 5px;
    width:40px;
    height:20px;
    background-color: rgb(82, 78, 78);
    border-radius:50%;
    top:20px;
  }
  
  @keyframes up {
    0%{
      transform: translateY(0) translateX(0) scale(0.5);
      opacity: 1;
    }
    100%{
      transform: translateY(-110px) translateX(-80px) scale(1.5);
      opacity: 0.2;
    }
  }